.carousel {
    position: relative;
    height: 40vh;
    width: 40vh;
}

.carouselTrackContainer {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carouselTrack {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carouselSlide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carouselButtonLeft {
    left: -40px;
}

.carouselButtonRight {
    right: -40px;
}

.carouselButton img {
    width: 30px;
}

.carouselNav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carouselIndicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3);
    margin: 0 12px;
    cursor: pointer;
}

.carouselIndicator.currentSlide {
    background: rgba(0,0,0,.75);
}

.carouselItem {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carouselItemImage {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.carouselItemText {
    height: 30%;
    width: 100%;
    background: white;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .carousel {
        width: 32vw;
        height: 32vw;
    }
}