a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 100%;
}

li:hover {
    background-color: gray;
}

#basic {
    background-color: rgb(32, 30, 30);
    margin:none;
    padding-left: 0px;
    margin: 0px;
}

ul{
    height: 10vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

li {
    list-style-type: none;
    display: inline;
    padding: 1%;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: black
}

body {
    background-image: linear-gradient(to right, white, gray);
    margin: 0px;
}

hr {
    border: 3px solid black;
    width: 50%;
    margin-bottom: 2%;
}

#menu {
    display: none;
}


@media (max-width: 767px){

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {
        width: 80%;
        margin-bottom: 5%;
    }

    #basic {
        display: none;
    }
    
    #menu ul {
        display: none;
    }
    
    #menu{
        display: block;
        background-color: rgb(32, 30, 30);
        margin: 0;
        padding: 0;
    }

    #menu:hover ul{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    #menu li{
        background-color: rgb(62, 58, 58);
        width: 100%;
        padding: 2%;
        text-align: center;
        border-bottom: 2px solid black;
        font-size: large;
    }

    #menu li:hover{
        background-color: gray;
    }

    #menu:hover {
        padding: 0;
    }

    #menu img {
        width: 5vh;
        margin: auto;
        display: block;
        padding: 1%;
        border: 3px solid grey;
        border-radius: 5%;
    }

    #menu p {
        margin: 0;
        padding: 0;
        padding: 2%;
    }
}